@import 'variables';

/* CONTACT SECTION */
#contact {
  padding-top: 20px;
  background-color: $accent-color;
  color: black;
}

#profile_links_flexbox {
  height: 100px;
  display: flex;
  justify-content: center;
}

.profile_links { margin: 20px 5px 20px 5px; }

#linkedin_logo,
#github_logo_mark,
#twitter_logo,
#email_logo {
  width: 32px;
  transition: width 250ms;

  &:hover, &:focus {
    width: 48px;
  }
}

#freecodecamp_logo {
  height: 32px;
  transition: height 250ms;

  &:hover, &:focus {
    height: 48px;
  }
}